<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport"content="width=width-device,initial scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <title>Resume Template 1</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
   </head>
   <body>
       <div class="container1">
           <div class="upper-side">
               <div class="profile">
                   <div class="imag">
                       <img src="../static/images/profile.png">
                   </div>
                   <h2>Rahul K Kumar<br><!--Name-->
                   
                </div>
            </div>

            <div class="lower-side1">

             <div class="container3">
                <div class="left-side">
                     <div class="contact">
                     <h3 class="title">Contact Info</h3>
                     <ul>
                         <li>
                             <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                             <span class="text">+91 123 456 7890</span>
                         </li>
                         
                         <li>
                             <span class="icon"><i class="bi bi-envelope"></i></span>
                             <a href="abc123@gmail.com"><span class="text">abc123@gmail.com</span></a>
                         </li>
                         
                   
                         <h3 class="title">Date Of Birth</h3>
                         <li>
                             <span class="icon"><i class="bi bi-calendar"></i></span>
                             <span class="text">01 Jan 2000</span>
                         </li>
                     </ul>   
                     </div>
                     <!--Education-->
                     <div class="contact edu">
                         <h3 class="title">Education</h3>
                         <ul>
                             <li>
                                
                                 <h4>Master Degree in IT</h4><!--Degree & Field-->
                                
                             </li>
                             
                             
                             
                         </ul>   
                         </div>
                         <div class="contact lang">
                             <h3 class="title">Language</h3>
                             <ul>
                                 <li>
                                     <span class="text">English</span>
                             
                                 </li>
                                 
                                 <li>
                                     <span class="text">French</span>
                             
                                 </li>
                                 
                                 <li>
                                     <span class="text">Gujrati</span>
                             
                                 </li>
                                 
                                 <li>
                                     <span class="text">Hindi</span>
                             
                                 </li>
                             </ul>
                         </div>    
                     </div>
                        
                     <div class="right-side">
                        <div class="about">
                            <!--Profile Description-->
                            <h2 class="title2">Profile</h2>
                            <p>
                                I identify and develop opportunities. I'm a nice fun and friendly person, I'm honest and punctual, 
                                <br>I work well in a team but also on my own as I like to set myself goals which I will achieve.
                                I have good listening and communication skills. <br><br>I am an experienced joiner with well developed skills 
                                 and experience in groundwork, concrete finishing and 
                                 steel fixing and have worked in the construction industry 
                                I have a creative mind and am always up for new challenges.</p>
                        </div>
                        <div class="about">
                            
                            <h2 class="title2">Experience</h2><!--Year,Company Name Role and Desc.-->
                            <div class="box">
                                <div class="exp">
                                    <h5>July 2021 - Present</h5>
                                    <h5>ABC Pvt. Ltd.</h5>
                                </div>
                                <div class="text">
                                    <h4>Software Engineer Trainee</h4>
                                    <p>Assisted in maintenance of software for engineering applications.<br>
                                        Analyzed user needs and proposed design software solutions to meet them.<br>
                                        Supporting testing operating systems-level software and filed 150+ upgrade and bug fix reports.
                                        <br>Committed code to GIT/SVN and created 75+ code reviews.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="box">
                                <div class="exp">
                                    <h5>March  - May 2021</h5>
                                    <h5>ABC Pvt. Ltd.</h5>
                                </div>
                                <div class="text">
                                    <h4>Software Engineer Trainee</h4>
                                    <p>Assisted in maintenance of software for engineering applications.<br>
                                        Analyzed user needs and proposed design software solutions to meet them.<br>
                                        Supporting testing operating systems-level software and filed 150+ upgrade and bug fix reports.
                                        <br>Committed code to GIT/SVN and created 75+ code reviews.
                                    </p>
                                </div>
                            </div>     
                        </div>
                        <div class="about">
                        <h2 class="title2">Internship</h2><!--Intern.-->
                            <div class="box">
                                <div class="exp">
                                    <h5>Nov  - Dec 2020</h5>
                                    <h5>Xyz Pvt. Ltd.</h5>
                                </div>
                                <div class="text">
                                    <h4>Software Engineer Intern</h4>
                                    <p>Assisted in maintenance of software for engineering applications.<br>
                                        Analyzed user needs and proposed design software solutions to meet them.<br>
                                        Supporting testing operating systems-level software and filed 150+ upgrade and bug fix reports.
                                        <br>Committed code to GIT/SVN and created 75+ code reviews.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="about skills">
                            <h2 class="title2">Technical Skills</h2><!--Skills.-->
                            <div class="box">
                                <h4>HTML</h4>
                                
                            </div>
                            <div class="box">
                                <h4>CSS</h4>
                                
                            </div>
                            <div class="box">
                                <h4>Java</h4>
                                
                            </div>
                            <div class="box">
                                <h4>C++</h4>
                                
                            </div>
                        
                            <h2 class="title2">Soft Skills</h2><!--Soft Skills.-->
                            <div class="box">
                                <h4>Group Discussion</h4>
                                
                            </div>
                            <div class="box">
                                <h4>Leadership</h4>
                                
                            </div>
                            <div class="box">
                                <h4>Project Management</h4>
                                
                            </div>
                            <div class="box">
                                <h4>Communication</h4>
                                
                            </div>
                        </div>  
                        <div class="about projects">
                            <h2 class="title2">Projects</h2>
                            <div class="box">
                                <div class="text">
                                <h4>College Attendance Management</h4>
                                <p>In this project I learned about the DBMS and how to use it .<br>
                                    Also I learned about the group Management.<br>
                                    My role was to create and take care of the Database portion.
                                    <br>I have used MYSQL in this project
                                </p>
                                <h4>Mask Detection</h4>
                                <p>In this project I learned about the DBMS and how to use it .<br>
                                    Also I learned about the group Management.<br>
                                    My role was to create and take care of the Database portion.
                                    <br>I have used MYSQL in this project
                                </p>
                                </div>
                               
                            
                        </div>
                            
                        </div>
                    </div>
                     
                </div>

            </div>
        
        
        </div>
